<footer class="bg-gray-800 py-8 text-white">
    <div class="max-w-xl mx-auto flex items-center">
        <img src="{{ '/img/logowhite.svg' | url }}" alt="Rob Alofs Logo" class="h-14"/>
        <nav class="uppercase font-bold flex-grow ml-14">
            <ul class="flex place-content-around">
                <li>
                    <a class="hover:text-yellow-700" href="{{ '/' | url }}">Home</a>
                </li>
                <li>
                    <a class="hover:text-yellow-700" href="{{ '/birds' | url }}">Birds</a>
                </li>
                <li>
                    <a class="hover:text-yellow-700" href="{{ '/news' | url }}">News</a>
                </li>
                <li>
                    <a class="hover:text-yellow-700" href="{{ '/about' | url }}">About</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>